<div class="card">
<div class="card-block"><h4 class="card-title">{{ i.name }}</h4>
    <table class="table table-sm">
        <thead><tr><th colspan="2">Description</th></tr></thead>
        <tbody>
            <tr>
                <td>{{ i.desc }}</td>
            </tr>
        </tbody>
    </table>
    {% if i.identifier_set.exists or bucket_as_property %}
        <table class="table table-sm">
        <thead><tr><th colspan="2">Properties</th></tr></thead>
        <tbody>
        {% if bucket_as_property %}
            <tr><td>Bucket</td><td>{{ i.bucket.name }}</td></tr>
        {% endif %}
        {% for id in i.identifier_set.all %}
            <tr><td>{{ id.type.name }}</td><td>{{ id.value }}</td></tr>
        {% endfor %}
        </tbody></table>
    {% endif %}

<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Move
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    {% for bucket in bucket_list %}
    <a class="dropdown-item" href='{% url 'inventory:move' i.id bucket.id %}?return={{ request.path|urlencode }}'>
    {{ bucket.name }}</a>
    {% endfor %}
  </div>
</div>
</div></div>